<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<div id="state" class='disabled'>
  <span>Наименование:</span> <span id="name"></span>
  <span>Комментарий:</span> <input id="comment" type="text" />
  <span>Авария:</span> <input id="alert" type="checkbox" />
</div>
