body {
  background-color: #000000;
  overflow: hidden;
  margin: 0;
}

#state {
  position: absolute;
  top: 0px;
  right: 0px;
  background: white;
}

#state.disabled {
  visibility: hidden;
}

.balloon {
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  opacity: 0.6;
}
